html,
body {
    padding: 0;
    margin: 0;
}

.Container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(157, 157, 183);
    display: flex;
    justify-content: start;
    align-items: start;
}
