html,
body {
    padding: 0;
    margin: 0;
}

.containers {
    background-color: rgb(42, 42, 44);
    overflow: auto;
}

.Body {
    width: 1150px;
    margin: 0 auto 0 auto;
    display: flex;
}

.MiddleTopBar {
    height: 80px;
    width: 700px;
    background-color: rgba(69, 68, 68, 0.9);
    position: fixed;
}

.Middle {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MiddleContainer {
    width: 700px;
    height: 100vh;
    margin-left: 250px;
}

.redArea {
    width: 80%;
    height: 1000px;
    margin-left: 50px;
    background-color: brown;
}

.titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
}

.itemButton{
    margin: 10px 30px 10px 0px;
    padding: 10px 0px;
    border-radius: 30px;
    &:hover{
        background-color: rgb(56, 56, 56);
    }
}

.rightbar {
    height: 100vh;
    width: 1px;
    margin-left: 950px;
    position: fixed;
    background-color: rgb(78, 77, 77);
}